body {
  background-color: antiquewhite;
}
.container {
  margin-left: 450px;
}
.inner {
  display: flex;
}
.inner2 {
  margin-top: 200px;
}
#image1 {
  position: absolute;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 20s;
  width: 300px;
  height: 200px;
}
@keyframes run {
  0% {
    left: 0;
  }
  50% {
    left: 80%;
  }
  100% {
    left: 0;
  }
}
button {
  margin-left: 120px;
  padding: 10px;
  background-color: blueviolet;
  color: aliceblue;
  border-radius: 10px;
}
