<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Head Rotate</title>
    <link rel="stylesheet" href="/stylesheets/headRotate/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="inner">
        <img
          src="/LS_intern/JS/7_03/images/vecteezy_ai-generated-portrait-of-handsome-smiling-young-man-with_41642196.png"
          alt=""
          id="image1"
        />
      </div>
      <div class="inner2">
        <img
          src="/LS_intern/JS/7_03/images/4.png"
          alt=""
          width="320px"
          height="320px"
        />
      </div>
      <div class="btn">
        <button id="b1" onclick="stopFunc(this)">STOP</button>
      </div>
    </div>
    <script src="/LS_intern/JS/7_03/1.js"></script>
  </body>
</html>
