<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/tictoctoe/style.css" />
  </head>

  <body>
    <div>
      <h1>Tic Tac Toe</h1>
    </div>
    <div>
      <div class="flex-container">
        <div onclick="funClick(this)" class="row" id="0" name="t1"></div>
        <div onclick="funClick(this)" class="row" id="1" name="t2"></div>
        <div onclick="funClick(this)" class="row" id="2" name="t3"></div>
      </div>
      <div class="flex-container">
        <div onclick="funClick(this)" class="row" id="3" name="t4"></div>
        <div onclick="funClick(this)" class="row" id="4" name="t5"></div>
        <div onclick="funClick(this)" class="row" id="5" name="t6"></div>
      </div>
      <div class="flex-container">
        <div onclick="funClick(this)" class="row" id="6" name="t7"></div>
        <div onclick="funClick(this)" class="row" id="7" name="t8"></div>
        <div onclick="funClick(this)" class="row" id="8" name="t9"></div>
      </div>
      <p id="result"></p>
    </div>
    <script src="/javascripts/tictactoe.js"></script>
  </body>
</html>
