<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/traffic/style.css" />
  </head>

  <body>
    <div class="container">
      <div id="redCircle" class="circle">00</div>
      <div id="greenCircle" class="circle"></div>
      <div id="yellowCircle" class="circle"></div>
    </div>
    <div class="container2">
      <button id="b1" onclick="startFunc()" value="8">Start</button>
      <p id="timer">00</p>
    </div>

    <script src="/javascripts/traffic.js"></script>
  </body>
</html>
